@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    margin: 0;
}

a {
    text-decoration: none;
}


/* Styles for the taskbar */
#taskbar {
    color: #f1efef;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.taskbar-icons {
    color: #ffffff;
    font-size: 40px;
}

/* Common styles */
.stations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#noStationsFound {
    display: none;
    text-align: center;
    color: red;
    margin-top: 20%;
    font-size: 24px;
}

.btn {
    color: #ffffff;
    border-radius: 18px;
    background-color: #000000;
    padding: 12px;
    border: 0;
    font-size: 16px;
    width: 200px;
}

/* Styles for search bar */
.searchbar {
    width: 70%;
    padding: 15px;
    border-radius: 18px;
    border: 0;
    font-size: 14px;
    margin-right: 20px;
}

/* Styles for station boxes */
.box {
    color: #000000;
    border-radius: 15px;
    background-color: #dbdbdb;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 90%;
}

.box1,
.box2,
.box3 {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Styles for footer */
.footer {
    height: 30px;
}

/* Helper classes styles */
.btn-link {
    cursor: pointer;
}

.icon-right {
    float: right;
}

/* Responsive styles */
/* Mobile */
@media (max-width: 767px) {
    h1 {
        font-size: 24px;
    }

    .box2 {
        padding-left: 15px;
        padding-right: 15px;
        width: 55%;
    }

    .fa-custom-size {
        font-size: 50px;
    }

    .btn {
        display: none;
    }
}

/* Desktop */
@media (min-width: 767px) {
    .box2 {
        padding-left: 20px;
        padding-right: 20px;
        width: 45%;
    }

    .box3 {
        width: 60%;
    }

    .fa-custom-size {
        font-size: 64px;
    }

}
