@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    margin: 0;
}

a {
    text-decoration: none;
}

/* Styles for the taskbar */
#taskbar {
    color: #f1efef;
    height: 100px;
    display: flex;
    align-items: center;
    margin-left: 2%; /* Consider using a percentage or other relative units */
}

.taskbar-icons {
    color: #ffffff;
    font-size: 40px;
}

/* Common styles for both mobile and desktop */
.stations {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Styles for search bar */
.searchbar {
    width: 70%; /* Consider using a percentage */
    padding: 15px;
    border-radius: 18px;
    border: 0;
    font-size: 14px;
    margin-right: 20px;
}

/* Styles for station boxes */
.box {
    color: #000000;
    border-radius: 15px;
    background-color: #dbdbdb;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-top: 40px;
    width: 90%;
}

.box1,
.box2,
.box3 {
    display: flex;
    align-items: center;
    height: 100%;
}

/* Styles for footer */
.footer {
    height: 2.5em; /* Adjusted height with relative unit */
}

/* Helper classes styles */
.btn-link {
    cursor: pointer;
}

.icon-right {
    float: right;
}

/* Responsive styles */
@media (max-width: 767px) {
    h1 {
        font-size: 1.5em; /* Adjusted font size with relative unit */
    }

    .box2 {
        margin-left: 15px;
        width: 55%; /* Adjusted width */
    }

    #noStationsFound {
        display: none;
        text-align: center;
        color: red;
        margin-top: 20%;
        font-size: 24px;
    }

    .fa-custom-size {
        font-size: 50px;
    }

    .btn {
        opacity: 0;
        pointer-events: none; /* Disable clicks on hidden button */
        transition: opacity 0.3s ease; /* Add a transition effect */
    }
}

@media (min-width: 767px) {
    .box2 {
        margin-left: 20px;
        width: 45%; /* Adjusted width */
    }

    .box3 {
        width: 65%; /* Adjusted width */
    }

    #noStationsFound {
        display: none;
        text-align: center;
        color: red;
        margin-top: 20%;
        font-size: 24px;
    }

    .fa-custom-size {
        font-size: 64px;
    }

    .btn {
        color: #ffffff;
        border-radius: 18px;
        background-color: #000000;
        padding: 12px;
        border: 0;
        font-size: 16px;
        width: 200px;
        opacity: 1;
        transition: opacity 0.3s ease; /* Add a transition effect */
    }
}
