@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

html {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #000000;
    margin-bottom: 20px;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

a {
    text-decoration: none;
}

#taskbar {
    color: #f1efef;
    height: 100px;
    display: flex;
    align-items: center;
    
}

#taskbar > * {
    margin-left: 20px;
}

#noStationsFound {
    display: none;
    text-align: center;
    color: red;
    margin-top: 20%;
    font-size: 24px;
}

.wholesite {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.searchbar {
    width: 70%;
    padding: 15px;
    border-radius: 18px;
    border: 0;
    font-size: 14px;
}

.box {
    color: #000000;
    border-radius: 15px;
    background-color: #dbdbdb;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    width: 90%
}

.box1 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 33%;
}

.box1 > *:last-child {
    font-size: 30px;
    margin-left: 20px;
}

.box2 {
    display: flex;
    align-items: center;
    height: 100%;
    width: 33%;
}

.btn {
    color: #ffffff;
    border-radius: 18px;
    background-color: #000000;
    padding: 12px;
    border: 0;
    font-size: 16px;
    width: 200px;
}

.btn-link {
    cursor: pointer;
}

.icon-right {
    float: right;
}

.fa-custom-size {
    font-size: 64px;
}

@media (max-width: 767px) {
    .hidden-mobile {
        display: none;
    }
    .playbtn {
        margin-left: 20px;
    }
}
